body {
    background-color: rgba(183, 139, 233, 0.568);
}

header, main, footer {
    text-align: center;
}

header {
    color: rgb(39, 3, 80);
    }

main {
    box-shadow: 0 0 10px;
    margin: 10px;
}

h1 {
    width: 60%;
    font-family: 'Mea Culpa';
    font-size: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 33px auto;
}

h2 {
    border-bottom: 1px solid black;
    width: 60%;
    margin: 10px auto;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #fff;
    font-size: 20px;
}

p, h2, footer {
    font-family: 'Satisfy';
}

div section {
    background-color: rgba(1, 7, 66, 0.664);
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
}

div section img {
    box-shadow: 0 0 10px;
    width: 200px;
    height: auto;
}

div section h2 {
    /* color: rgb(39, 3, 80); */
    color: rgb(194, 185, 64);

}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

footer {
    margin: 20px auto;
    font-size: 24px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
}