@media (min-width: 70em) {
    body {
        max-width: 100%;
        padding: 0;
    }


    /*-------- STYLING BANNER ----------*/
    #banner {
        display: none;
        grid-template-columns: 1fr 400px;
    }

    #banner p {
        font-size: 16px;
        justify-self: end;
    }

    #close {
        justify-self: center;
    }

    /*--------- STYLING HEADER ---------*/
    .header-logo {
        width: 70px;
    }

    .header-title {
        font-size: 16px;
        width: 270px;
    }

    .header-date {
        width: 95%;
        font-size: 17px;
    }

    nav {
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: #0043469a;
        border-radius: 10px;
        font-size: 16px;
        justify-self: center;
    }

    nav ul li:hover {
        border-radius: 10px;
        background-color: #09bc89;
    }

    nav ul li a {
        padding: 0 60px;
    }

    .social {
        grid-column: 4/5;
        justify-self: center;
    }
    
    nav ul#nav {
        display: block;
        display: flex;
        flex-direction: row;
        width: 700px;
    }

    button {
        display: none;
    }

    /*----------- STYLING MAIN -----------*/

    main {
        display: grid;
        grid-template-columns: 305px 700px 280px;
        grid-template-rows: 200px 280px 250px;
        justify-content: center;
    }


    /* styling event box */

    .placeholder-box-event {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 160px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 20px 10px 0 30px;
        border-radius: 5px;
    }

    #event-h2 {
        margin: 0;
        align-self: center;
    }
    
    /* styling hero box */

    .placeholder-box-hero {
        grid-column: 2/3;
        grid-row: 1/3;
        margin: 20px 20px 10px 10px;
    }

    .hero-image {
        height: 453px;
    }

    .welcome {
        bottom: 400px;
        font-size: 32px;
    }

    .button {
        left: 380px;

    }

    /* styling spotlight */

    .placeholder-box-spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        height: 90%;
    }

    /* styling spot1 */

    .placeholder-box-spot1 {
        margin-bottom: 0;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
    } 

    #spot1-h2 {
        font-size: 16px;
    }

    #spot1-img {
        margin: auto;
        width: 70px;
    }

    #spot1-p {
        font-size: 13px;
    }

    #spot1-email {
        padding: 10px;
        height: fit-content;
        margin: 0;
    }

    #spot1-number {
        padding-bottom: 10px;
        height: fit-content;
        margin: 0;
    }

    #spot1-number a {
        color: #fff;
    }

    #spot1-number a:hover {
        color: #BB9F06;
    }

    
    /* styling spot2*/

    .placeholder-box-spot2 {
        margin-bottom: 0;
        margin-top: 0;
        height: fit-content;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
    }
    
    #spot2-h2 {
        font-size: 16px;
    }

    #spot2-img {
        margin: 0 auto;
        width: 70px;
    }

    #spot2-p {
        font-size: 13px;
    }

    #spot2-email {
        padding: 10px;
        margin: 0;
    }

    #spot2-number {
        padding-bottom: 10px;
        margin: 0;
    }

    #spot2-number a {
        color: #fff;
    }

    #spot2-number a:hover {
        color: #BB9F06;
    }


    /* styling spot3 */

    .placeholder-box-spot3 {
        display: block;
        background-color: #004346;
        box-shadow: 0 0 10px black;
        margin: 0 14px 10px 14px;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #fff;
    }

    #spot3-h2 {
        font-size: 16px;
        color: #BB9F06;
        text-shadow: 0 0 30px #fff;
        margin: auto;
        padding: 10px;
    }

    #spot3-img {
        margin: auto;
        width: 70px;
        padding: 5px;
    }

    #spot3-p {
        font-size: 13px;
        border-bottom: 1px solid #fff;
        width: 90%;
        text-align: center;
        margin: 10px auto;
    }

    #spot3-email {
        padding: 10px;
        margin: 0;
    }

    #spot3-number {
        padding-bottom: 10px;
        margin: 0;
    }

    #spot3-number a {
        color: #fff;
    }

    #spot3-number a:hover {
        color: #BB9F06;
    }

    /* styling weather box */

    .placeholder-box-weather {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 10px 10px 10px 0;
        grid-template-rows: 25px 100px 40px 50px 30px;
        border-radius: 5px;
    }

    #weather-h2, #weather-h3 {
        margin: 0;
    }

    /* styling join box */

    .placeholder-box-join {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 10px 10px 10px 30px;
        padding: 30px 10px ;
        border-radius: 5px;
    }


    #join-p {
        font-size: 16px;
        margin: 0;
        padding: 15px;
    }

    /* styling news box */

    .placeholder-box-news {
        grid-column: 2/3;
        grid-row: 3/4;
        margin: 10px 20px 10px 10px;
        border-radius: 5px;
    }

    /*---------- STYLING DISCOVER MAIN ------------*/

    #discover-main {
        height: 3550px;
    }

    #discover {
        grid-column: 1/4;
    }

    #discover h2 {
        text-align: start;
        color: #004346;
        background-color: white;
        border-bottom: 1px solid #004346;
        padding: 10px 30px;
        margin-left: 20px;
        margin-right: 900px;
        font-size: 24px;
    }

    #discover p {
        text-align: start;
        margin: 10px 200px 50px 70px;
        font-size: 16px;
    }

    #tourist-places h2 {
        background-color: #BB9F06;
        color:#fff;  
    }

    #discover #tourist-places p {
        text-align: center;
        margin: 10px 200px 40px 200px;
    }

    #discover h3 {
        border-bottom: 1px solid black;
        margin: 18px 800px 18px 100px;
        font-size: 18px;
    }

    #discover picture {
        margin: 10px 400px;
        padding: 20px 0;
        justify-content: center;
    }

    #discover #tourist-places picture:hover {
        margin: 10px 300px;
    }

    #tourist-places h2 {
        border: none;
        text-align: center;
        font-size: 20px;
        margin: 50px 20px;
    }

    /*---------- STYLING FORM PAGE ---------*/

    #form-page {
        height: 850px;
        display: grid;
        grid-template-rows: none;
    }

    #form-page h2 {
    grid-column: 1/4;
    font-size: 40px;
    height: fit-content;
    }

    form {
        grid-column: 1/4; 
        margin-bottom: 60px;
    }

    form fieldset {
        width: 70%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /*---------- GRID LAYOUT -------------*/

    form fieldset label:nth-child(1), form fieldset label:nth-child(2), form fieldset label:nth-child(3) {
        grid-column: 1/2;
    }

    form fieldset label:nth-child(4), form fieldset label:nth-child(5), form fieldset label:nth-child(6) {
        grid-column: 2/3;
    }

    form fieldset label:nth-child(4) {
        grid-row: 1/2;
    }

    form fieldset label:nth-child(5) {
        grid-row: 2/3;
    }

    form fieldset label.businessD {
        margin-top: 15px;
    }

    /* ----------------------------------- */

    form label.businessI, form label.personalI, form div, form label.businessD {
        font-size: 18px;
    }

    form label.personalI input, form label#businessI input, form label#businessP input {
        padding: .5rem;
        max-width: none;
    }

    form div.levels {
        margin-top: 5px;
        margin-bottom: 10px;
    }

    form input.submitBtn {
        margin: 0 0 0 58%;
        font-size: 24px;
    }

    form label span.descriptionNP {
        display: none;
    }
 
    form fieldset p {
        display: block;
        color: #fff;
        margin: 0 2rem .2rem;
    } 

    form fieldset label textarea {
        max-width: none;
        height: 80%;
    }
    
    /*-------- STYLING THANKS MAIN ---------*/

    #form-page .thanks-div {
        grid-column: 1/4;
    }

    /*--------- STYLING DIRECTORY MAIN "CARDS" --------*/

    
    .directory {
        height: fit-content;
    }

    .directory_cards section p, .directory_cards section a {
        font-size: 16px;
    }


    .directory .directory_h2 {
        font-size: 40px;
    }

    #directory #grid {
        margin-left: 100px;
    }

    /*--------- STYLING DIRECTORY MAIN "LIST" --------*/

    .list {
        height: fit-content;
    }

    .directory_list section p:nth-child(2) {
        display: block;
    }
    
    .directory_list section p:nth-child(3) {
        display: block;
    }

    .list .directory_list section {
        grid-template-columns: repeat(6, 1fr);
    }

    .directory_list section p {
        font-size: 16px;
    }

    .list #grid-button, .directory #grid-button {
        justify-self: end;
        margin-right: 90px;
    }

    /*------- STYLING CONTAC MAIN ----------*/

    #contact {
        display: grid;
        grid-template-columns: 600px 600px;
    }

    #contact .directory_h2 {
        font-size: 40px;
    }

    #contact-form form fieldset {
        display: flex;
        flex-direction: column;
        width: fit-content;
        padding: 10px 20px 25px 20px;
    }

    #contact-form {
        grid-column: 1/2;
        width: fit-content;

    }

    #contact-form fieldset label {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 5px;
    }

    #contact-form #questionBtn {
        margin: 0 auto;
    }

    #contact-information {
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: start;
        border-left: 1px solid;
    }

    #contact-information h2 {
        border-bottom: none;
    }

    #contact-information {
        padding-left: 90px;
    }

    #contact-information p {
        margin-left: 10px;
    }

    /* STYLING FOOTER */

    footer {
        display: grid;
        grid-template-rows: 150px 25px;
        padding-bottom: 22px;
    }

    footer p{
        font-size: 18px;
    }

    .footer-logo {
        width: 120px;
        margin: 20px;
    }

    footer a {
        justify-self: end;
    }
    .direction {
        padding: 30px;
    }
    
    .direction p {
        text-align: left;
        font-size: 15px;
    }

    .direction h2 {
        font-size: 22px;
    }

    .info p {
        text-align: start;
        font-size: 15px;
        
    }

    .medium p {
        font-size: 16px;
    }
}