@media (min-width: 70em) {
    body {
        max-width: 1300px;
        padding: 0;
        font-size: 16px;
    }

    .header-logo {
        width: 70px;
    }

    .header-title {
        font-size: 16px;
        width: 270px;
    }

    .header-date {
        width: 95%;
    }

    nav {
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: #09bc8960;
        border-radius: 10px;
    }

    nav ul li:hover {
        border-radius: 10px;
    }

    .social {
        grid-column: 4/5;
        justify-self: center;
    }
    
    nav ul#nav {
        display: block;
        display: flex;
        flex-direction: row;
        width: 700px;
    }

    button {
        display: none;
    }

    /* STYLING MAIN */

    main {
        display: grid;
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows: 200px 200px 200px;
    }

    .placeholder-box-event {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 220px;
        height: 140px;
        margin-top: 20px;
        margin-left: 30px;
    }

    .placeholder-box-hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .placeholder-box-spotlight {
        grid-column: 3/4;
        grid-row: 1/4;
        height: 95%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .placeholder-box-spot1 {
        margin-bottom: 0;
    } 
    
    .placeholder-box-spot2 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .placeholder-box-spot3 {
        display: block;
        background-color: rgb(204, 204, 204);
        border: 1px solid grey;
        height: 90%;
        width: 90%;
        align-self: center;
        margin: 0 5px 5px 5px ;
    }

    /* .placeholder-box-spot1, .placeholder-box-spot2, .placeholder-box-spot3 {
        width: 100%;
    }  */

    .placeholder-box-weather {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 220px;
        height: 140px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .placeholder-box-join {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 220px;
        margin-left: 30px;
    }

    .placeholder-box-news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    /* STYLING FOOTER */

    footer {
        display: grid;
        grid-template-columns: 1fr 600px 400px;
        grid-template-rows: 200px 1fr;
    }

    footer p{
        font-size: 18px;
    }

    .footer-logo {
        width: 150px;
        margin: 20px;
    }

    footer a {
        justify-self: end;
    }
    .direction {
        padding: 30px;
    }
    
    .direction p {
        text-align: left;
    }

    .info {
        justify-self: start;
        
    }

    .medium p {
        margin-left: 180px;
        width: 900px;
    }
}