@media (min-width: 70em) {

    /* --------- STYLING HEADER ---------- */

    header {
        grid-template-rows: 1fr 50px;
    }
    #hamburguerBtn {
        display: none;
    }

    nav {
        display: block;
        grid-row: 2;
        grid-column: 1/3;
        border-radius: 0 5px 0 0;
        height: fit-content;
        width: fit-content;
    }

    nav ul {
        display: flex;
        flex-direction: row; 
        height: max-content;  
    }
 
    nav ul a {
        padding: 18px 40px;
        margin: 0;
        align-content: center;
    }

    nav ul li:nth-child(1) {
        margin-left: 90px;
        align-content: center;
    }

    nav ul li:nth-child(4) {
        border-radius: 0 5px 0 0;
    }

    nav ul li {
        padding: 20px 0;
    }

    .temple-header nav ul li:nth-child(2) {
        background-color: #ff8600;
    }

    .temple-header nav ul li:nth-child(1) {
        background-color: #f1f2f6;
    }

    .home-header nav ul li:nth-child(1) {
        background-color: #ff8600;
    }

    .reservation-header nav ul li:nth-child(3) {
        background-color: #ff8600;
    }

    .services-header nav ul li:nth-child(4) {
        background-color: #ff8600;
    }

    #call-to-action {
        justify-self: center;
        grid-column: 2/4;
    }

    .social-header {
        grid-column: 4;
    }

    .temples .placeholder-principal-img div h1 {
        margin: auto 200px;
        padding: 30px 10px;
        font-size: 30px;
    }

    /* -------- STYLING MAIN ------------ */

    main {
        display: flex;
        flex-direction: column;
    }

    .placeholder-principal-img h1, .placeholder-principal-img p {
        font-size: 24px;
    }

    .placeholder-principal-img h1 {
        margin: 0 30px;
    }

    .placeholder-principal-img p {
        margin-right: 130px;
    }

    .placeholder-temple-information h2 {
        text-align: start;
        margin-left: 100px;
        background-color: #aeb8fe;
        width: fit-content;
        margin-bottom: 0;
        padding: 10px;
    }

    .placeholder-temple-information #templeImage {
        width: 40%;
        margin-left: 50px;
        margin-right: 50px;
        float: left;
    }

    .placeholder-temple-information p {
        margin-right: 80px;
    }

    .placeholder-weather {
        padding: 60px 0;
        background-color: #aeb8fe;
        grid-template-columns: 45% 1fr;
    }

    .placeholder-weather .main-weather {
        margin: 0 100px;
        justify-self: end;

    }

    .placeholder-weather .three-daysW {
        display: grid;
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        align-self: center;
    }

    .placeholder-weather .three-daysW h3 {
        grid-row: 1;
        grid-column: 1/4;
        justify-self: center;
        align-self: center;
    }

    .placeholder-weather .three-daysW div {
        padding-right: 10px;
    }

    .placeholder-weather .three-daysW .firstDay, .placeholder-weather .three-daysW .secondDay {
        border-bottom: 0;
        border-right: 1px solid;
        width: fit-content;
    }

    .placeholder-weather .three-daysW p:nth-child(1) {
        justify-self: center;
        grid-row: 1;
        grid-column: 1/3;
    }

    /* ----- STYLING TEMPLE MAIN ------- */


    .temple-cards {
        margin: 140px;
    }

    main.temples div.temple-cards div button {
        margin: 0 150px;
    }

    #telephone-d {
        margin-bottom: 100px;
    }

    #announced-d {
        margin-top: 80px;
        
    }

    #groundbreaking-d {
        margin-top: 100px;
    }

    #dedicated-d {
        margin-top: 120px;
    }

    /* -------- STYLING RESERVATION MAIN --------- */

    .reservation form {
        margin: 450px 350px 50px 350px;
    }

    .reservation .placeholder-principal-img div {
        margin-top: 200px;
    }

    /* --------- STYLING SERVICES MAIN ---------- */

    .service-div h2 {
        margin-left: 50px;
    }

    .service-div h3 {
        padding-left: 70px;
    }

    .service-div ul {
        margin-left: 50px;
    }

    .service-div form {
        width: 350px;
        justify-self: start;
        margin-left: 100px;
    }

    .service-div .missionary {
        justify-self: end;
    }

    .service-div form h3 {
        padding: 10px;
    }

    .service-div form label {
        margin-left: 70px;
    }




    /* ------ STYLING FOOTER ------- */

    footer {
        margin: 0;
    }


}